// VARIABLES
$primary: #F05454;
$secondary: #30475E;
$light: #DDDDDD;
$dark: #222831;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}