@import "/src/styles/navbar.css";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #222831;
}

/* === MAIN === */
main {
  background-color: #30475E;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #DDDDDD;
  text-align: center;
}

.hero {
  border: 1px red solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  min-height: 80vh;
  margin-top: 3rem;
}

.hero_image {
  border: #DDDDDD solid 2px;
  display: flex;
  width: 70%;
  border-radius: 70% 30% 30% 70%/60% 40% 60% 40%;
  margin-bottom: 3rem;
}

.font_color_primary {
  color: #F05454;
}

.hero_info * {
  margin-top: 1rem;
}
.hero_info p {
  line-height: 1.7;
}
.hero_info :first-child {
  margin: 0;
}
.hero_info #fullname {
  font-weight: 400;
}

.hero_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero_links :nth-child(1) {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  cursor: none;
  border: none;
  margin-bottom: 0.8rem;
}
.hero_links :nth-child(1) #cv_btn {
  background-color: #F05454;
  color: #222831;
  width: 50%;
  border-radius: 50px;
  padding: 1.5rem;
}
.hero_links :not(:first-child) {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
}

.icon {
  max-width: 40px;
}
.icon path {
  fill: #DDDDDD;
}

/* === ABOUT ME === */
.about_me {
  border: red 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
  margin: 3rem 0;
}

.about_content {
  text-align: left;
  line-height: 1.7;
  margin-bottom: 2rem;
}

#project_btn {
  text-decoration: none;
  color: #222831;
  background-color: #F05454;
  border-radius: 5px;
  border: none;
  padding: 1rem 1.5rem;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 2rem 0;
}
.skills_container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skills_container div img {
  max-width: 25px;
}
.skills_container div p {
  font-size: 1rem;
}

/* === FOOTER === */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #222831;
  border-bottom: 8px solid #F05454;
  color: #DDDDDD;
}

.footer_upper {
  text-transform: uppercase;
}
.footer_upper .footer_cta {
  padding: 2rem 0;
}
.footer_upper .footer_cta p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-stretch: expanded;
  font-weight: 600;
  line-height: 1.5;
}
.footer_upper .cta_btn {
  background-color: transparent;
  border: 2px solid #F05454;
  color: #F05454;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
}
.footer_upper .footer_info {
  display: flex;
}

.footer_alt_nav li {
  text-align: left;
  padding: 0.5rem 0;
}
.footer_alt_nav li .footer_navlink {
  text-decoration: none;
  color: #DDDDDD;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: underline;
}

.footer_lower {
  align-self: center;
  margin-top: 1rem;
}/*# sourceMappingURL=index.css.map */