@use "base";
@import "/src/styles/navbar.css";

main {
  background-color: base.$secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: base.$light;
  text-align: center;
}

.main_heading {
  text-transform: uppercase;
  text-align: left;
  font-size: 2.6rem;
  margin: 2em 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: base.$dark;
}

/* === HOME PAGE === */
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  min-height: 80vh;
  margin-top: 3rem;
}

.hero_image {
  border: base.$light solid 2px;
  display: flex;
  width: 70%;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  margin-bottom: 3rem;
}

.font_color_primary {
  color: base.$primary;
}

.hero_info {
  * {
    margin-top: 1rem;
  }

  p {
    line-height: 1.7;
  }

  :first-child {
    margin: 0;
  }

  #fullname {
    font-weight: 400;
    font-size: 2.5rem;
  }
}

.hero_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  :nth-child(1) {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    cursor: none;
    border: none;
    margin-bottom: 0.8rem;

    #cv_btn {
      background-color: base.$primary;
      color: base.$dark;
      max-width: 40%;
      border-radius: 50px;
      padding: 1.5rem;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    }
  }

  :not(:first-child) {
    background-color: transparent;
    border: none;
    margin: 0 1rem;
  }
}

.icon {
  max-width: 40px;

  path {
    fill: base.$light;
  }
}

/* === ABOUT ME === */
.about_me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
  margin: 3rem 0;
}

.about_content {
  text-align: left;
  line-height: 1.7;
  margin-bottom: 2rem;
}

#project_btn {
  text-decoration: none;
  color: base.$dark;
  background-color: base.$primary;
  border-radius: 5px;
  border: none;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 30px 0 rgba(152, 116, 116, 0.15);
  font-weight: 600;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 2rem 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 25px;
    }

    p {
      font-size: 1rem;
    }
  }
}

/* === FOOTER === */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: base.$dark;
  border-bottom: 8px solid base.$primary;
  color: base.$light;
}

.footer_upper {
  text-transform: uppercase;

  .footer_cta {
    padding: 2rem 0;

    p {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      font-stretch: expanded;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .cta_btn {
    background-color: transparent;
    border: 2px solid base.$primary;
    color: base.$primary;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
  }

  .footer_info {
    display: flex;
  }
}

.footer_alt_nav {
  li {
    text-align: left;
    padding: 0.5rem 0;

    .footer_navlink {
      text-decoration: none;
      color: base.$light;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: underline;
    }
  }
}

.footer_lower {
  align-self: center;
  margin-top: 1rem;
}
