@use "base";

/* === Small devices (portrait tablets and large phones) === */
@media only screen and (min-width: 500px) {
  main, footer {
    padding: 0 2rem;
  }

  .hero_image {
    width: 50%;
  }

  .skills_container {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}

/* === Medium devices (landscape tablets) === */
@media only screen and (min-width: 769px) {
  // main {
  //   background-color: #25ba25;
  // }
  
}

/* === Large devices (laptops/desktops) === */
@media only screen and (min-width: 992px) {
  main {
    background-color: #d31ca8;
  }
}

