@use "base";

/* === Small devices (portrait tablets and large phones) === */
@media only screen and (min-width: 500px) {
  main,
  footer {
    padding: 0 2rem;
  }

  .hero_image {
    width: 50%;
  }

  .skills_container {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
  }
}

/* === Medium devices (landscape tablets) === */
@media only screen and (min-width: 769px) {
  /* Contact Page */
  .contact_form_wrapper {
    max-width: 80%;
  }

  #contact_submit_btn {
    max-width: 30%;
  }

  /* Footer */
  .footer_upper {
    max-width: 80%;
    align-self: center;

    .footer_cta {
      flex-basis: 70%;
    }

    .footer_alt_nav {
      padding: 2rem 0;
    }
  }

  /* Navigation */
  .container {
    flex-direction: row;
    align-items: stretch;
    // width: auto;

    // > * {
    //   border: 2px blue solid;
    // }
  }

  .mob_nav {
    display: none;
  }

  .sidebar {
    display: block;
  }
}

/* === Large devices (laptops/desktops) === */
@media only screen and (min-width: 992px) {
  /* Blog and Projects Pages */
  .project_container,
  .blog_container {
    justify-content: space-around;
    gap: 4em;
  }

  .project_card,
  .blog_card {
    flex-basis: 45%;
    max-width: 500px;
  }

  /* Contact Page */
  .contact_form_wrapper {
    max-width: 60%;
  }
}
