@use "base";

/* === Mobile Initial Navbar === */
.mob_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  padding: 1.5rem;
  background-color: base.$primary;
}

.nav_initials {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: larger;
  margin-left: 1rem;
  color: base.$dark;
  text-decoration: none;
}

/* === Mobile Full Navigation === */
#main_nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: base.$primary;
}

#main_nav:target {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 100vh;
}

@keyframes appear {
  0% {
    height: 0;
  }
  100% {
    width: 100%;
    height: 100vh;
  }
}

.access_aid {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 0;
  padding-top: 40px;
  margin: 25px 25px 0 0;
  overflow: hidden;
  background: base.$primary 10px 10px / 20px 20px no-repeat;
}

#access_nav {
  background-image: -webkit-repeating-linear-gradient(
    base.$dark,
    base.$dark 2px
  );
  background-image: repeating-linear-gradient(
    base.$dark,
    base.$dark 2px,
    base.$primary 4px,
    base.$primary 7px
  );
}

#access_top {
  background-image: linear-gradient(
      45deg,
      transparent 13px,
      base.$dark 13px,
      base.$dark 15px,
      transparent 0
    ),
    linear-gradient(
      -45deg,
      base.$primary 13px,
      base.$dark 13px,
      base.$dark 15px,
      base.$primary 0
    );
}

ul {
  padding-left: 0;

  li {
    list-style: none;
    text-align: center;
    font-size: larger;
    padding: 1.2rem 0;
  }

  .nav_link {
    text-decoration: none;
    color: base.$dark;
    font-weight: 700;
  }
}

#main_nav_initials {
  font-size: 2.2rem;
  margin: 0;
}

hr { 
  display: block;
  border: 1px solid base.$dark;
  width: 90%;
} 

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  height: 40px;
  width: 30%;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: base.$secondary;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: base.$light;
}

/* === SIDE NAVIGATION === */
.side-nav {
  display: none;
  min-width: 10%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background: base.$primary;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link_icon {
  width: 30px;

  path {
    fill: base.$dark;
  }
}

.light-fill > path {
  fill: base.$light;
}
