@use "base";

#main_nav {
  display: none;
  position: absolute;
  // top: 0;
  background: base.$primary;
}

#main_nav:target {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 100vh;
}

@keyframes appear {
  0% {
    height: 0;
  }
  100% {
    width: 100%;
    height: 100vh;
  }
}

ul li {
  list-style: none;
  text-align: center;
  font-size: larger;
  padding: 1.2rem;
}

.nav_link {
  text-decoration: none;
  color: #000;
}

.access_aid {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 0;
  padding-top: 40px;
  margin: 25px 25px 0 0;
  overflow: hidden;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  background: base.$primary 10px 10px / 20px 20px no-repeat;
}

#access_nav {
  background-image: -webkit-repeating-linear-gradient(base.$dark, base.$dark 2px);
  background-image: repeating-linear-gradient(base.$dark, base.$dark 2px, base.$primary 4px, base.$primary 7px);
}

#access_top {
  background-image: linear-gradient(45deg, transparent 13px, base.$dark 13px, base.$dark 15px, transparent 0), linear-gradient(-45deg, base.$primary 13px, base.$dark 13px, base.$dark 15px, base.$primary 0);
}

.mob_nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

#nav_initials {
  font-family: 'M PLUS Rounded 1c', sans-serif;  
  font-weight: 900;
  font-size: larger;
  margin-left: 1rem;
  color: base.$dark;
}